{% extends "base.html" %}
{% block body %}
<div class="container">
    <div class="page-header">
        <h1>Events<small class="pull-right">
            {% if venue %}Venue: {{ venue.name }}
            {% elif promoter %}Promoter: {{ promoter.name }}
            {% else %}All Events
            {% endif %}
        </small></h1>
    </div>


    {% if venue %}
        <div class="well well-lg">
            <h4>{{ venue.name }}</h4>
            <div class="btn-group event-control" role="group">

        {% if current_user.is_authenticated %}{% if current_user.is_admin %}
                <a href="{{ url_for('delete_venue', venue_id=venue.id) }}" id="delete-venue" class="btn btn-link"><span class="glyphicon glyphicon-trash"></span>Remove</a>
                {% endif %}
                {% endif %}
            </div>
        </div>
    {% elif promoter %}


        <div class=" well well-lg" >
{#        <div class="{{ promoter.bgcol() }} well well-lg" >#}
            <h4>{{ promoter.name }}</h4>
            <div class="btn-group event-control" role="group">

        {% if current_user.is_authenticated %}{% if current_user.is_admin or current_user.is_promoter %}
                <a href="{{ url_for('new_event', promoter=promoter.id) }}" class="btn btn-link new-item"><span class="glyphicon glyphicon-plus"></span>New Event</a>
{#                <a href="{{ url_for('delete_promoter', promoter_id=castmember.id) }}" id="delete-promoter" class="btn btn-link"><span class="glyphicon glyphicon-trash"></span>Remove</a>#}
                {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="row kanban">
            <div class="col-lg-12">
                {% with title="Timeline", icon="leaf" %}
                    {% include "event/kanban_timeline.html" %}
                {% endwith %}
            </div>
        </div>

    {% else %}

        {% if current_user.is_authenticated %}{% if current_user.is_admin or current_user.is_promoter %}
        <a href="{{ url_for('new_event') }}" class="btn btn-link new-item"><span class="glyphicon glyphicon-plus"></span>New Event</a>
        {% endif %}
        {% endif %}
    {% endif %}

    <div class="row kanban">
        <div class="col-sm-4">
            {% with title="One off", status="ONE_OFF", icon="fire" %}
                {% include "event/kanban_panel.html" %}
            {% endwith %}
        </div>
        <div class="col-sm-4">
            {% with title="Regular", status="REPEAT_REG", icon="send" %}
                {% include "event/kanban_panel.html" %}
            {% endwith %}
        </div>
        <div class="col-sm-4">
            {% with title="Irregularly repeating events", status="REPEAT_STRANGE", icon="sunglasses" %}
                {% include "event/kanban_panel.html" %}
            {% endwith %}
        </div>
    </div>
</div>
{% endblock %}
