{% extends "base.html" %}
{% block body %}

 <script language="JavaScript">
            var showwholetable = false;
            function toggleVisibility(eventsender, idOfObjectToToggle1, idOfObjectToToggle2){
                var myNewState = "collapse";
                var myInverseNewState = "visible";
                showwholetable = false;
                displ="none"
                invdispl="inline"

                if (eventsender.checked === true){
                    myNewState = "visible";
                    showwholetable=true;
                    displ="inline"


                    myInverseNewState="collapse"
                    invdispl="none"
                }

                document.getElementById(idOfObjectToToggle1).style.visibility = myNewState;
                document.getElementById(idOfObjectToToggle1).style.display = displ;

                document.getElementById(idOfObjectToToggle2).style.visibility = myInverseNewState;
                document.getElementById(idOfObjectToToggle2).style.display = invdispl;
            }



        </script>


<div class="container">
    <div class="page-header">
        <h1>New Event</h1>
    </div>

    <form method="POST" enctype=multipart/form-data>
        <div class="form-group">
            <input name="title" type="text" class="form-control" placeholder="Name of the event" required>
        </div>
        <div class="form-group">
            <textarea name="description" class="form-control" rows="3" placeholder="Description (enter class information and times here)"></textarea>
        </div>
        
        <div class="form-group">
            <select class="form-control" name="venue_id">
                <option value="-1">Select a venue</option>
                {% for venue in venues %}
                    <option value="{{ venue.id }}" {{ venue.id | is_selected }}>{{ venue.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <select class="form-control" name="promoter_id">
                <option value="-1">Select a Promoter</option>
                {% if current_user.is_admin_user() %}
                    {% for promoter in promoters %}
                        <option value="{{ promoter.id }}" {{ promoter.id | is_selected }}>{{ promoter.name }}</option>
                    {% endfor %}
                {% else %}
                    {% for promoter in current_user.promotesfor %}
                        <option value="{{ promoter.id }}" {{ promoter.id | is_selected }}>{{ promoter.name }}</option>
                    {% endfor %}
                {% endif %}
            </select>
        </div>

        <div class="form-group" >
            <input type="date" name="nextdate"> from:
            <input type="time" name="starttime"> to:
            <input type="time" name="endtime">
        </div>

        <div class="form-group">
            <input type="checkbox" name="repeatsweekly" value="Yes" checked onchange="JavaScript:toggleVisibility(this,'myData','myData2');"> Repeats weekly<br>
        </div>

{#        if yes#}
        <div class="form-group" id="myData" style="display: inline">
            <select class="form-control" name="day_id">
{#                <option value="-1">Select day</option>#}
                <option value="MO">Monday</option>
                <option value="TU">Tuesday</option>
                <option value="WE">Wednesday</option>
                <option value="TH">Thursday</option>
                <option value="FR">Friday</option>
                <option value="SA">Saturday</option>
                <option value="SU">Sunday</option>
            </select>
        </div>
{#        if no#}
        <div class="form-group" id="myData2" style="display: inline; visibility: collapse">
            <input type="checkbox" name="repeatreminder" value="Yes" checked/> Do you wish to be reminded to set the date for the next event once this one has happened?
        </div>
<br/>
<br/>
        <div class="form-group" id="tagging">
            {% for d in dances %}
                <p>{{ d.name }}:
                {% if d.hastags() %}<br/>
                    {% for g in d.possibletags %}
                        <input type="checkbox" name="{{ d.id }}_{{ g.id }}" value="{{ g.id }}" /> {{ g.name }}
                    {% endfor %} <br/>
                {% else %}
                    <input type="checkbox" name="{{ d.id }}_" value="genre" />
                {% endif %}
                    </p>
            {% endfor %}
        </div>

        <div class="form-group">
            <input type=file name=file>
        </div>

        <button type="submit" class="btn btn-primary">Create it!</button>
    </form>

</div>
{% endblock %}
